<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.pr9/menu.application" insertBefore="administration">
        <item screen="tr_User.browse" caption="msg://com.company.pr9.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="tr_Route.browse" caption="msg://com.company.pr9.screen.route/routeBrowse.menu"/>
        <item screen="tr_Station.browse" caption="msg://com.company.pr9.screen.station/stationBrowse.menu"/>
        <item screen="tr_Bus.browse" caption="msg://com.company.pr9.screen.bus/busBrowse.menu"/>
    </menu>

</menu-config>